/* styles.css */
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
  }
  
  .slide {
    display: none;
  }
  
  .fade {
    animation: fadeEffect 1.5s ease-in-out infinite;
  }
  
  @keyframes fadeEffect {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  